.brand-name{
    text-align: center;
    position: relative;
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    font-family: 'Comfortaa', sans-serif;
    font-size: 60pt;
    margin-top: 60px;
}

.item{
    text-align: center;
    position: relative;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
    font-size: 44pt;
    margin-top: 10px;
    letter-spacing: 10px;
}

.foundation-date{
    text-align: center;
    position: relative;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
    font-size: 100pt;
    margin-top: 40px;
    letter-spacing: 10px;
}

.chris-dior1 img{
    width: 1200px;
    height: auto;
    margin-left: 700px;
}

.date-of-birth{
    text-align: left;
    position: relative;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
    font-size: 44pt;
    margin-top: 40px;
    letter-spacing: 10px;
}

.childhood{
    text-align: left;
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    font-size: 50pt;
    margin-top: 40px;
    letter-spacing: 10px;
}

.biography{
    text-align: left;
    position: relative;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
    font-size: 40pt;
    margin-left: 200px;
    margin-right: 200px;
}

.quote,
.author {
    text-align: left;
    position: relative;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    font-size: 40pt;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
    text-align: center;
}

.author{
    font-size: 22pt;
    margin-top: 80px;
}

.date1{
    text-align: left;
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    font-size: 48pt;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    text-align: center;
}

.pics {
    display: flex;
    margin-left: 600px;
}

.pic1,
.pic2 {
    margin-right: 150px; 
    margin-top: 40px;
}

.pics img {
    max-width: 1200px; 
    margin-bottom: 50px;
}

.pics h3{
    font-size: 26pt;
}

.pic3{
    margin-left: 800px;
    margin-bottom: 40px;
}

.pic3 img{
    width: 1000px; 
    margin-bottom: 50px;
}

.footer-main{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  text-align: left;
  font-size: 18pt;
  margin-top: 250px;
}

.footer-main-1{
  text-align: left;
  font-size: 18pt;
  margin-top: 100px;
}

.footer-main-item{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-left: 100px;
  font-size: 16pt;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: left;
}