
* {
	margin: 0;
	padding: 0;
  font-family: 'Comfortaa', sans-serif;
}


@media screen and (max-width: 430px) {

	.sorting-container{
	  width: 100%; /* Ширина 100%, чтобы соответствовать ширине экрана */
	  height: auto; /* Высота автоматически подстраивается под контент */
	  margin-left: 0; /* Изменение отступа */
	  margin-top: 20px; /* Новый отступ сверху */
	  transform: none; /* Сброс трансформации */
	}
  
	.content-container {
	  max-width: 100%; /* Ширина 100%, чтобы соответствовать ширине экрана */
	  margin-left: 0; /* Изменение отступа */
	  width: calc(50% - 10px); /* 50% ширины экрана с учетом расстояния между блоками */
	  margin-right: 10px; /* Расстояние между блоками */
	  width: 200px;
	  height: 300px;
	}
  
	.block {
	//   width: 100%; /* Ширина 100%, чтобы соответствовать ширине экрана */
	//   margin-bottom: 20px; /* Уменьшение отступа */
		width: calc(50% - 10px); /* 50% ширины экрана с учетом расстояния между блоками */
		margin-right: 10px; /* Расстояние между блоками */
		width: 200px;
		height: 300px;
	}
  
	.info-about-product{
	  width: 100%; /* Ширина 100%, чтобы соответствовать ширине экрана */
	  grid-template-columns: repeat(2, 1fr); /* Два столбца вместо пяти */
	  gap: 10px; /* Уменьшение отступа */
	  font-size: 12pt;
	}
  
	.price{
	  margin-top: 20px; /* Уменьшение отступа */
	}
  
	/* Дополнительные изменения по мере необходимости */
  
  }
  

